<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcConcurrent enabled="false"/>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <remove name = "Default" />
        <add name="myListeners" type ="System.Diagnostics.TextWriterTraceListener" initializeData="trace.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>